/*01_Cenering*/
.center {
    margin: 0 auto;
    max-width: 50em;
}
/*02_font_family*/
p.font_timenewroman_example {
    font-family: "Times New Roman", Times, serif;
  }
  
p.font_segoeUI_example {
    font-family: 'Segoe UI', Tahoma, sans-serif;
  }
/*03_spacing*/
p.spacing_exanple_1 { 
  word-spacing: normal;
}

p.spacing_example_2 { 
  word-spacing: 30px;
}

p.spacing_example_3 { 
  word-spacing: 1cm;
}
/*04_color$contrast*/
p.redtext {
  color: red;
}

h1.greenheading {
  color: #00ff00;
}

p.ex {
  color: rgb(0,0,255);
}
